body {
    height: 3000px;
    overflow-x: hidden;
}

.bg-image {
    width: 100vw;
    height:20vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.6);
}

.navbar {
    transition: all 0.5s;
}

.navbar-scrolled{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0,0, 0, 0.15);
}

.p-6 {
    padding: 60px;
  }
